.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  place-items: center;
  display: grid;
  cursor: pointer;
  font-size: 48px;
  text-align: center;
}

.is-selected {
  width: 100px;
  height: 100px;
  border-color: transparent;
  background-color: rgb(78, 96, 215);
}

.tokens .square {
  border: transparent;
}

@media (max-width: 420px) {
  .square {
    width: 80px;
    height: 80px;
    border: 2px solid #eee;
    border-radius: 5px;
    place-items: center;
    display: grid;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
  }
}
