.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.main-title {
  font-size: 2rem;
  text-align: center;
}

.board-game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.tokens {
  font-size: 3.5rem;
  text-align: center;
}
